<div id="content" class="container col-12">
  <h3>Letras
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </h3>
 
 <mat-tab-group>
      <mat-tab label="Veleros">
      <div class="letter">        
        <p>Te echo de menos,</p>
        <p>me siento pleno,</p>
        <p>miro hacia el cielo y veo en las nubes veleros.</p>
        <p>Aún no me lo creo,</p>
        <p>que es lo que veo,</p>
        <p>es un sueño sincero que brota de dentro...</p>
        
        <p>Te echo de menos,</p>
        <p>me siento pleno,</p>
        <p>miro hacia el cielo y veo en las nubes veleros.</p>
        <p>Aún no me lo creo,</p>
        <p>que es lo que veo,</p>
        <p>es un sueño sincero que brota de dentro;</p>
        <p>comienza a quemar el fuego,</p>
        <p>el sol se quedo quieto.</p>
        <p>Mueren mis mordidas como el hielo</p>
        <p>cuando empieza a aflorar el invierno</p>
        <p>silencio...</p>

        <p>Atento no te querrás perder esto,</p>
        <p>acecha el miedo si en mi cabeza no encuentro acierto</p>
        <p>Lo siento, tengo que estar más atento,</p>
        <p>mojarme la cara, morder la mañana, sentirme despierto;</p>
        <p>qué más da si las duda aciertan,</p>
        <p>no son ellas las que cuidan mi cabeza;</p>
        <p>qué más da si las duda aciertan,</p>
        <p>no son ellas las que cuidan mi cabeza</p>

        <p>Soy yo mi clamor mi infierno,</p>
        <p>soy todo lo que quiero</p>
        <p>soy flor, soy colobrí que para el tiempo.</p>
        <p>Enfermo no sé sí estoy enfermo, ¿completo?</p>
        <p>no sé sí es verdad lo que pienso,</p>
        <p>no sé sí es verdad lo que miento...</p>
    
        <p>Atento no te querrás perder esto,</p>
        <p>acecha el miedo si en mi cabeza no encuentro acierto</p>
        <p>Lo siento, tengo que estar más atento,</p>
        <p>mojarme la cara, morder la mañana, sentirme despierto;</p>
        <p>qué más da si las duda aciertan,</p>
        <p>no son ellas las que cuidan mi cabeza;</p>
        <p>qué más da si las duda aciertan,</p>
        <p>no son ellas las que cuidan mi cabeza</p>

        <p>Eres el dueño de tu vida y esa es la certeza</p>
        <p>y el ser humano nace libre por naturaleza,</p>
        <p>yo no seré el marinero que deja a una novia en cada puerto</p>
        <p>yo prefiero la sonrisa porque eso si que es eterno</p>
        <p>creo en un mundo sin fronteras, noy hay suicidios no hay bandera,</p>
        <p>mar lleno de alegría sin deshielos, no hay pateras.</p>
        <p>Alza la vista del ombligo y mira lo que tienes fuera</p>
        <p>ven y cogete a mi mano el mundo libre nos espera</p>
      </div>
      

      </mat-tab>
      <mat-tab label="Sincero">
      <div class="letter">        
              
        <p>Fuera mentira, fuera fingimiento</p>
        <p>si te digo te quiero es porque lo siento.</p>
        <p>Fuera mentira, fuera discusiones,</p>
        <p>ahora no quiero ser lo que tú me propones.</p>
                
        <p>Estoy contento, estoy siendo honesto,</p>
        <p>conmigo y con el resto</p>
        <p>fijate en esto, en cómo voy fluyendo</p>
        <p>las cosas van viniendo porque van viniendo.</p>
        <p>Tranquilito, nada de costumbres</p>
        <p>solo necesito a la luna que me alumbre,</p>
        <p>estoy borrando algunas huellas del camino,</p>
        <p>ahora lo que toca es caminar conmigo.</p>
        <p>Aunque te admito que si te me acercas, </p>
        <p>pon a cubierto esa boca de mi lengua,</p>
        <p>no soy consciente yo no recapacito, </p>
        <p>tu sabes que tu ombligo y yo formamos buen equipo.</p>
        <p>Pa' cometer delitos, para saciarnos del apetito,</p>
        <p>bueno perdona yo se que me repito,</p>
        <p>si antes florecía ahora muero, me marchito porque...</p>

        <p>Fuera mentira, fuera fingimiento</p>
        <p>si te digo te quiero es porque lo siento.</p>
        <p>Fuera mentira, fuera discusiones,</p>
        <p>ahora no quiero ser lo que tú me propones</p>
        <p>y si te opones a escuchar mis opiniones</p>
        <p>yo no quiero dar lecciones, mucho menos oraciones.</p>
        
        <p>Estoy tranquilo escribiendo mis canciones</p>
        <p>aquí ya no perturban miedos ni temores,</p>
        <p>y los amores de aquellos tiempos mejores</p>
        <p>me sirvieron pa' aprender, ahora cultivo mis errores.</p>
        <p>Con mis razones te pido me perdones</p>
        <p>yo vine aquí a cantarte lo que tu supones...</p>

        <p>Fuera mentira, fuera fingimiento</p>
        <p>si te digo te quiero es porque lo siento.</p>
        <p>Fuera mentira, fuera discusiones,</p>
        <p>ahora no quiero ser lo que tú me propones.</p>
 
        <p>Fuera mentira fuera fingimiento,</p>
        <p>si te digo te quiero es xq lo siento.</p>
        <p>Estoy contento, estoy siendo honesto</p>
        <p>conmigo y con el resto</p>
      </div>
      </mat-tab>
      <mat-tab label="Florecer">
        <div class="letter">        
              
          <p>Surrealista un trapecista en el amor,</p>
          <p>bañarme en tu sudor no me da pudor.</p>
          <p>Es el temblor de mis neuronas</p>
          <p>lo que hace que mi mente se escabulla de tu persona,</p>
          <p>porque yo, puedo parecer, tan ignorante</p>
          <p>no encajo dos palabras cuando te tengo delante,</p>
          <p>soy elefante en cacharrería, joder</p>
          <p>cuando tú hablas eso es pura poesía.</p>
          
          <p>El caminar de tus caderas a mi me vuelve loco,</p>
          <p>a mi me desespera sábes que,</p>
          <p>es la primera primavera que paso entre tus piernas
          <p>y florezco donde quieras</p>

          <p>El caminar de tus caderas a mi me vuelve loco,</p>
          <p>a mi me desespera sábes que,</p>
          <p>es la primera primavera que paso entre tus piernas
          <p>y florezco donde sea.</p>
          
          <p>Quiero que vengas y acaricies todo mi cuerpo</p>
          <p>ese calor que me envenena,</p>
          <p>quiero sentir, el fuego de tu magia en un segundo</p>
          <p>y que perdamos la vergüenza.</p>

          <p>Sin vergüenza, dos bandidos</p>
          <p>tu eres mi corazón y yo soy todos tus latidos.</p>
          <p>Pierdo los estribos cuando con tu lengua,</p>
          <p>mojas todos mis sentidos.</p>
          <p>Tocado y hundido estoy, nose quien soy hey,</p>
          <p>¿a dónde voy wey? en tu cama no existe la ley.</p>
          <p>Soy un delincuente yo no puedo decir que no</p>
          <p>a toda esa droga que tu escondes en el pantalón,</p>
          <p>que descontrol, que imposible misión</p>
          <p>que tus bragas y mis dientes comiencen la función.</p>
          
          
          <p>El caminar de tus caderas a mi me vuelve loco,</p>
          <p>a mi me desespera sábes que,</p>
          <p>es la primera primavera que paso entre tus piernas
          <p>y florezco donde quieras</p>

          <p>El caminar de tus caderas a mi me vuelve loco,</p>
          <p>a mi me desespera sábes que,</p>
          <p>es la primera primavera que paso entre tus piernas
          <p>y florezco donde sea.</p>
          </div>
      </mat-tab>
      <mat-tab label="Nuestro único idioma">
          <div class="letter">        
              
          <p>Camina pa lante, paciente, de frente saluda a la gente.</p>
          <p>Disfruta el momento, fuera tormentos, sé quien tu quieres,</p>
          <p>el pasado ya pasó.</p>
          
          <p>Salta barreras, fuera fronteras, eres un grande,</p>
          <p>que no me lo invento, es lo que observo yo al mirarte.</p>
          <p>Hoy te toca disfrutar.</p>
          
          <p>Chacho mi niño espabila, abre los ojos sé consciente </p>
          <p>del pedazo presente que tienes entre tus dientes,</p>
          <p>no lo dejes escapar.</p>
          
          <p>Porque tu controlas la situación,</p>
          <p>porque, eres el dueño, de tu corazón.</p>
          <p>Que no te digan que no.</p>
          
          <p>Hay tantas cosas que no entiendo ni quiero entender,</p>
          <p>este mundo muchas veces parece que está del revés.</p>
          <p>Yo no quiero ser testigo de la insensatez, </p>
          <p>mejor predica con tu ejemplo, hazlo de una vez.</p>
          
          <p>La gente imita, a otras personas, </p>
          <p>lo material es lo que se valora,</p>
          <p>dejate de eso, no somos moda,</p>
          <p>el corazón es nuestro único idioma.</p>
 
          <p>El corazón es nuestro único idioma.</p>
          
          
          <p>Y da igual dónde estés o donde vayas a estar,</p>
          <p>lo importante es tener personalidad</p>
          <p>y que tu prioridad, sea la felicidad</p>
          
          <p>La gente ríe, la gente llora,</p>
          <p>la gente quiere un cambio en esta zona.</p>
          <p>Abre los ojos, tu no estás sola.</p>
          
          <p>La gente ríe, la gente llora,</p>
          <p>la gente quiere un cambio en esta zona.</p>
          <p>Abre los ojos, tu no estás sola.</p>
          
          <p>La gente imita, a otras personas, </p>
          <p>lo material es lo que se valora,</p>
          <p>dejate de eso, no somos moda,</p>
          <p>el corazón es nuestro único idioma.</p>
          
          <p>La gente imita, a otras personas, </p>
          <p>lo material es lo que se valora,</p>
          <p>dejate de eso, no somos moda,</p>
          <p>el corazón es nuestro único idioma.</p>
          
          </div>
      </mat-tab>

      <mat-tab label="Sonriendo a la tristeza">
          <div class="letter">        
              
          <p>Todavía no se ha ido, y ya la echas de menos,</p>
          <p>Todavía no se ha ido, y mi voz no es consuelo.</p>
          
          <p>Nos avisaron, con tiempo.</p>
          <p>Nos concienciamos, por dentro.</p>
          
          <p>Quién iba a decirlo, que esto le iba a pasar.</p>
          <p>Ella representa la felicidad.</p>
          
          <p>Y allí, dónde esté, yo sé, que está esperándote.</p>
          <p>Y allí, dónde esté. yo sé. que está sonriendo.</p>
          <p>Y allí, dónde esté, yo sé, que está esperándote.</p>
          <p>Y allí, dónde esté. yo sé. que está sonriendo.</p>
          
          
          <p>Muchas cosas no expresamos por la obviedad,</p>
          <p>dar por hecho sentimientos no conviene nada.</p>
          <p>Si te quiero te lo digo y te lo demuestro.</p>
          
          <p>Y ahora estoy, a mil kilómetros de tu aliento,</p>
          <p>y quiero ser, tu consuelo y ese sustento.</p>
          <p>Y ahora estoy, a mil kilómetros de tu aliento,</p>
          <p>y quiero ser, tu consuelo y ese sustento.</p>
          
          <p>Sólo quiero estar presente pa' poder abrazar,</p>
          <p>esa fuerza que tu tienes, sólo tu me das,</p>
          <p>cada día me despierto, para seguir soñando.</p>
          <p>Y tengo alas las despliego, puedo al fin volar,</p>
          <p>a tu lado pa decirte su única verdad,</p>
          <p>que este mundo son dos días y tenemos que aprovecharlo.</p>
          <p>Y reirse de lo serio, hay que festejar,
          <p>los momentos que vivimos siempre en libertad,</p>
          <p>el dinero no importaba, importaba el nosotros</p>
          
          <p>Ser feliz, compartir, el tiempo,</p>
          <p>para ser feliz, feliz, por dentro</p>
          </div>
      </mat-tab>
  </mat-tab-group> 


</div>