<!--The content below is only a placeholder and can be replaced.-->
<div id="header"></div>
<div class="fixed-top" id="menu">
    <nav  class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="./assets/logo.png" width="60" height="60" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="#songs">
              <i class="fa fa-headphones" aria-hidden="true"></i>
              Canciones
            </a>
          </li>
          <li class="nav-item">
            <a href="#videos">
              <i class="fa fa-video-camera" aria-hidden="true"></i>
              Videos
            </a>
          </li>
          <li class="nav-item">
            <a href="#lyrics">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Letras
            </a>
          </li>
          <!-- <li class="nav-item">
            <a href="#">
              <i class="fa fa-calendar" aria-hidden="true"></i>
              Eventos
            </a>
          </li> -->
        </ul>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 col-xs-12 nopadding">
      <img src="./assets/cover.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-1"></div>
  </div>
<app-songs id="songs"></app-songs>
<app-videos id="videos"></app-videos> 
<app-lyrics id="lyrics"></app-lyrics>
<footer>
  <span>¿Quieres más info?</span>
  <div>
    <a target="_blank" href="https://www.facebook.com/grupolacuerdafloja/">
                      <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>                
                  </a>
                    <a target="_blank" href="https://www.instagram.com/grupolacuerdafloja/">
                        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>                
                    </a> 
                  <a target="_blank" href="https://www.youtube.com/channel/UCHpv_aTMLhBuyco6AMN9Ibw/videos">
                      <i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i>
                  </a>                     
                  <a target="_blank" href="mailto:grupolacuerdafloja@gmail.com?Subject=Asunto">
                    <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>                
                  </a>              
  </div>
</footer>

<a id="myBtn" href="#header"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></a>

