<div id="content" class="container col-12">
    <h3>Videos <i class="fa fa-video-camera" aria-hidden="true"></i></h3>  

<div class="row text-center">
  <div class="col-md-6 col-xs-12">
    <iframe src="https://www.youtube.com/embed/BvtGkyvknqs?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 col-xs-12">
    <iframe src="https://www.youtube.com/embed/Vr5SNXYd2yo?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  
</div>
<div class="row text-center">
  <div class="col-md-6 col-xs-12">
    <iframe src="https://www.youtube.com/embed/BvtGkyvknqs?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="col-md-6 col-xs-12">
    <iframe src="https://www.youtube.com/embed/Vr5SNXYd2yo?rel=0" frameborder="0" allowfullscreen></iframe>
  </div>
  
</div>

    <!-- <iframe src="https://www.youtube.com/embed/_5hS0hVscXQ?rel=0" frameborder="0" allowfullscreen></iframe> -->
   
  </div>
  